<h1>hackers</h1>
<% @lectures.each_with_index do |l,index| %>
<div>
  <br>
      <span style="font-size:14px;">
      <%= index+1%>ㅣ
      aca<%= l.aca%>ㅣ
      type<%= l.type%>ㅣ
      day<%= l.day%>ㅣ
      time<%= l.time%>ㅣ
      week<%= l.week%>ㅣ
      title<%= l.title%>ㅣ
      link<%= l.link%>ㅣ
      teacher<%= l.teacher%>ㅣ
      price<%= l.price%>ㅣ
      level<%= l.level%>ㅣ
    </span>
      <br>
      <hr>
</div>
<% end %>