<!-- Overlay preloader-->
		<div class="htlfndr-loader-overlay"></div>
				
			<section class="htlfndr-slider-section">
				<div class="vertical-container">
					<div class="index_top">
						<div class="logo_img">
							<img src="/assets/tost_logo.gif" alt="Logo" />
						</div>	
								<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="index_nav">
									<!-- List with sing up/sing in links -->
							<ul>
								<% if current_user %> <!--로그인 한경우 -->
									<li id="htlfndr-singin-link">
										<a href="/home/index">
											<span onclick="DoNav('/index')">HOME</span></a>
									</li>
									
									<li id="htlfndr-singin-link">
										<a href="/home/user_page">
											<span onclick="DoNav('/user_page')">마이페이지</span></a>
									</li>
									
									<li id="htlfndr-singin-link">
										<a href="/home/about">
											<span onclick="DoNav('/about')">ABOUT</span></a>
									</li>
			
									<li id="htlfndr-singin-link">
										<a href="/users/sign_out">
											<span onclick="DoNav('/users/sign_out')">로그아웃</span></a>
									</li>
									
								<% else %> <!--로그인 안한경우 -->
									<li id="htlfndr-singin-link">
										<a href="/home/index">
											<span onclick="DoNav('/index')">HOME</span></a>
									</li>
									<li id="htlfndr-singin-link">
										<a href="#" data-toggle="modal" data-target="#layerpop"><span>로그인</span></a>
									</li>
									
									<li id="htlfndr-singup-link">
										<a href="/users/sign_up">
											<span onclick="DoNav('/users/sign_up')">회원가입</span></a>
									</li>
									
									<li id="htlfndr-singin-link">
										<a href="/home/about">
											<span onclick="DoNav('/about')">ABOUT</span></a>
									</li>
									
								<% end %>
							</ul><!-- .htlfndr-singup-block -->					
						</div><!-- .collapse.navbar-collapse -->	
					</div>	
				</div>
			</section>			
			
			
			
				<section class="container htlfndr-top-destinations">
				<h1 style="text-align:center;"> 토스트에는 <%= @hackers_num + @pagoda_num + @young_num %>개의 강의가 있습니다! </h1>	
					<div>
						<table class="result_table">
								<colgroup>
							      <col width="7%">
							      <col width="7%">
							      <col width="23%">
							      <col width="30%">
							      <col width="13%">
							      <col width="10%">
							      <col width="10%">
							    </colgroup>
							    <thead>
							    <tr>
							        <th scope="cols">과목군</th>
							        <th scope="cols">위치(학원)</th>
							        <th scope="cols">시간</th>
							        <th scope="cols">강의명</th>
							        <th scope="cols">강사</th>
							        <th scope="cols">가격</th>
							        <th scope="cols">수</th>
							    </tr>
							    </thead>
							    <!--원래 코드 index_all에 있는데 이거 검색하기 전화면이 index 검색하기 누르면
							index_result로 갈거임 index_all은 우리가 보는 용도-->
							    <tbody>
							    	<% if @hackers_all.empty? and @pagoda_all.empty? and @young_all.empty? %>
							    	<tr>
							    		<td></td>
							    		<td></td>
							    		<td></td>
							    		<td>해당하는 강의가 없습니다!</td>
							    		<td></td>
							    		<td></td>
							    		<td></td>
							    	</tr>
								<% else %>
							    	<% @hackers_all.each_with_index do |l,index| %>
    							    	
										<tr>
										  <% name = ["해커스","파고다","와이비엠","영단기"] %>
									      <% loc = ["강남", "종로"] %>
									      <% subject = ["토플", "토익", "토스"] %>
										  <%if l.subject == 1 %>
									      <% level = ["기초","필수","입문","기본","중급/중급문풀","정규","실전"] %>
									 	  <%elsif l.subject == 2 %>
									      <% level = ["기초","필수","입문","기본","중급","정규","실전"] %>
										  <%elsif l.subject == 3 %>
									      <% level = ["기초","필수","입문","기본","중급","정규","실전"] %>
									      <%end%>
									      <% week = ["주 5일반", "월수금반", "화목금반", "주말반"] %>
									      <% time = ["아침", "오전", "오후", "저녁"] %>
											
											<td><%= subject[l.subject-1] %></td>
											<td><%= name[l.name-1] %><br>(<%= loc[l.loc-1] %>) </td>
											<td><%= l.day %><br>(<%= week[l.week-1] %>) </td>
											<td><a href="http://www.hackers.ac<%= l.link %>" target="_blank" class="lecture_go"><%= l.title %><i class="fa fa-search lecture_go_icon" aria-hidden="true"></i></a></td>
											<td><%= l.teacher %></td>
											<td><%= l.price %></td>
								    		<td><%= index+1 %></td>
									      </tr>   
									<% end %>
						
									<% @pagoda_all.each_with_index do |l,index| %>
    							    	
										<tr>
										  <% name = ["해커스","파고다","와이비엠","영단기"] %>
									      <% loc = ["강남", "종로","신촌"] %>
									      <% subject = ["토플", "토익", "토스"] %>
									      <% week = ["주 5일반", "월수금반", "화목금반", "주말반"] %>
									      <% time = ["아침", "오전", "오후", "저녁"] %>
											
											<td><%= subject[l.subject-1] %></td>
											<td><%= name[l.name-1] %><br>(<%= loc[l.loc-1] %>) </td>
											<td><%= l.day %><br>(<%= week[l.week-1] %>) </td>
											<td><a href="http://m.pagoda21.com/speaker/detail/<%= l.link %>?popup=Y" target="_blank" class="lecture_go"><%= l.title %><i class="fa fa-search lecture_go_icon yy" aria-hidden="true"></i></a></td>
											<td><%= l.teacher %></td>
											<td><%= l.price %></td>
								    		<td><%= index+1 %></td>
									      </tr>   
									<% end %>						
							
									<% @young_all.each_with_index do |l,index| %>
    							    	
										<tr>
										  <% name = ["해커스","파고다","와이비엠","영단기"] %>
									      <% loc = ["강남", "종로"] %>
									      <% subject = ["토플", "토익", "토스"] %>
									      <% week = ["주 5일반", "월수금반", "화목금반", "주말반"] %>
									      <% time = ["아침", "오전", "오후", "저녁"] %>
											
											<td><%= subject[l.subject-1] %></td>
											<td><%= name[l.name-1] %><br>(<%= loc[l.loc-1] %>) </td>
											<td><%= l.day %><br>(<%= week[l.week-1] %>) </td>
											<td><a href="http://offeng.dangi.co.kr/m/registration/main/view?saleinfo_id=<%= l.link %>" target="_blank" class="lecture_go"><%= l.title %><i class="fa fa-search lecture_go_icon yy" aria-hidden="true"></i></a></td>
											<td><%= l.teacher %></td>
											<td><%= l.price %></td>
								    		<td><%= index+1 %></td>
									      </tr>   
									<% end %>
								<% end %>
							    </tbody>
							</table>
					</div>
								
				</section><!-- .container.htlfndr-top-destinations -->
				
				

					   
	

		<!--로그인 끝-->

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!--<script src="/assets/jquery-1.11.3.min.js"></script>-->
		<!-- Include Jquery UI script file -->
		<!--<script src="/assets/jquery-ui.min.js"></script>-->
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<!-- Include Query UI Touch Punch is a small hack that enables the use
		<!-- of touch events on sites using the jQuery UI user interface library. -->
		<!--<script src="/assets/jquery.ui.touch-punch.min.js"></script>-->
		<!--<script src="/assets/bootstrap.min.js"></script>-->
		<!-- Include Owl Carousel script file -->
		<!--<script src="/assets/owl.carousel.min.js"></script>-->
		<!-- Include main script file -->
		<!--script src="/assets/script.js"></script> -->

		<!--<script src="js/less.min.js" ></script> -->


<style>
	.htlfndr-wrapper { display: none; }
</style>

<script>		
		 $(".zzimnot").click(function() {
		 	sweetAlert({   title: "찜목록에 추가되었습니다!",   text: "마이페이지에서 확인하세요.",   imageUrl: "/assets/zzim_ok.gif", timer: 2000,   showConfirmButton: false, customClass: 'sweet' });
		 });
		 
		 $(".zzimok").click(function() {
		 	sweetAlert({   title: "찜목록에서 삭제되었습니다!", imageUrl: "/assets/zzim_not.gif", timer: 2000,   showConfirmButton: false, customClass: 'sweet' });
		 });
</script>
