<!-- Overlay preloader-->
		<div class="htlfndr-loader-overlay"></div>

				<!-- Start of slider section -->
				<section class="htlfndr-slider-section">
					<div class="owl-carousel">
						<div class="htlfndr-slide-wrapper">
							<img src="/assets/slide1.png" alt="img-1" />
						</div><!-- .htlfndr-slide-wrapper-->
						<div class="htlfndr-slide-wrapper">
							<img src="/assets/slide3.png" alt="img-2" />
						</div><!-- .htlfndr-slide-wrapper-->
						<div class="htlfndr-slide-wrapper">
							<img src="/assets/slide2.png" alt="img-3" />
						</div><!-- .htlfndr-slide-wrapper-->
					</div>
				</section><!-- .htlfndr-slider-section -->
				<!-- End of slider section -->

			<!-- Start of main content -->
			<main role="main">
				
				
				<!-- Section with popular destinations -->
				<section class="container htlfndr-top-destinations">
					<h1>CSS Tooltips</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. <a class="too" href="#">Praesent mauris<span>Pure CSS Tooltips</span></a>. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. </p>
  </body>
					<h2 class="htlfndr-section-title"></h2>
					
						<div class="search search_margin">
							<p class="search_1_name">과목군</p>
							<p class="search_select">
								<label class="search_select_label">
								<input type="checkbox" name="option_1" value="1"></input>
								토익</label>
							</p>
							<p class="search_select">
								<label class="search_select_label">
								<input type="checkbox" name="option_1" value="1"></input>
								토익스피킹</label>
							</p>
							<p class="search_select">
								<label class="search_select_label">
								<input type="checkbox" name="option_1" value="1"></input>
								토플</label>
							</p>
						</div>
						
						<div class="search search_margin">
							<p class="search_1_name">레벨</p>
							<p class="search_select">
								<label class="search_select_label">
								<input type="checkbox" name="option_1" value="1"></input>
								상</label> <i class="fa fa-question-circle foo" aria-hidden="true"></i>
							</p>
							<p class="search_select">
								<label class="search_select_label">
								<input type="checkbox" name="option_1" value="1"></input>
								중</label> <i class="fa fa-question-circle" aria-hidden="true"></i>
							</p>
							<p class="search_select">
								<label class="search_select_label">
								<input type="checkbox" name="option_1" value="1"></input>
								하</label> <i class="fa fa-question-circle" aria-hidden="true"></i>
							</p>
						</div>
						
						<div class="search search_margin">
							<p class="search_1_name">과목군</p>
							<p class="search_select">
								<label class="search_select_label">
								<input type="checkbox" name="option_1" value="1"></input>
								강남</label>
							</p>
							<p class="search_select">
								<label class="search_select_label">
								<input type="checkbox" name="option_1" value="1"></input>
								종로</label>
							</p>
							<p class="search_select">
								<label class="search_select_label">
								<input type="checkbox" name="option_1" value="1"></input>
								신촌</label>
							</p>
						</div>
						
						<div class="search">
							<p class="search_1_name">요일</p>
							<p class="search_select">
								<label class="search_select_label">
								<input type="checkbox" name="option_1" value="1"></input>
								주5일</label>
							</p>
							<p class="search_select">
								<label class="search_select_label">
								<input type="checkbox" name="option_1" value="1"></input>
								월수금</label>
							</p>
							<p class="search_select">
								<label class="search_select_label">
								<input type="checkbox" name="option_1" value="1"></input>
								화목금</label>
							</p>
							<p class="search_select">
								<label class="search_select_label">
								<input type="checkbox" name="option_1" value="1"></input>
								주말</label>
							</p>
						</div>
					
					<div class="search_submit">
						<button class="search_submit_btn">검색<span class="fa fa-search" aria-hidden="true"></span></button>
						
					</div>
					
					<div>
						<table class="result_table">
								<colgroup>
							      <col width="10%">
							      <col width="10%">
							      <col width="20%">
							      <col width="30%">
							      <col width="10%">
							      <col width="10%">
							      <col width="10%">
							    </colgroup>
							    <thead>
							    <tr>
							        <th scope="cols">과목군</th>
							        <th scope="cols">위치(학원)</th>
							        <th scope="cols">시간</th>
							        <th scope="cols">강의명</th>
							        <th scope="cols">강사</th>
							        <th scope="cols">가격</th>
							        <th scope="cols">찜</th>
							    </tr>
							    </thead>
							    
							    <tbody>
							    	<% @lectures.each do |l| %>
								    <tr>
								    	<td><%= l.type%></td>
								    	<td><%= l.aca%></td>
								    	<td><%= l.time %></td>
								    	<td><%= l.title%></td>
								    	<td><%= l.teacher%></td>
								    	<td><%= l.price%></td>
								    	<td>
								    		<% if current_user %>
												<% if l.followed_by?(current_user) == true %>
													<%= link_to image_tag("/assets/zzim_ok.gif"),   {:type => "unwish", :lecture_id => l.id}, {:class => 'zzim zzimok'}  %>
													<% else %>
													<%= link_to image_tag("/assets/zzim_not.gif"),   {:type => "wish", :lecture_id => l.id}, {:class => 'zzim zzimnot'} %>
												<% end %>
											<% else %>
												<a href="#" data-toggle="modal" data-target="#layerpop"><img class="zzim" src="/assets/zzim_not.gif"></div></a>
											<% end %>
								    	</td>
									</tr>   
									<% end %>
							    </tbody>
							</table>
					</div>
								
				</section><!-- .container.htlfndr-top-destinations -->
				
				

					   
	

		<!--로그인 끝-->

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!--<script src="/assets/jquery-1.11.3.min.js"></script>-->
		<!-- Include Jquery UI script file -->
		<!--<script src="/assets/jquery-ui.min.js"></script>-->
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<!-- Include Query UI Touch Punch is a small hack that enables the use
		<!-- of touch events on sites using the jQuery UI user interface library. -->
		<!--<script src="/assets/jquery.ui.touch-punch.min.js"></script>-->
		<!--<script src="/assets/bootstrap.min.js"></script>-->
		<!-- Include Owl Carousel script file -->
		<!--<script src="/assets/owl.carousel.min.js"></script>-->
		<!-- Include main script file -->
		<!--script src="/assets/script.js"></script> -->

		<!--<script src="js/less.min.js" ></script> -->


<script>		
		 $(".zzimnot").click(function() {
		 	sweetAlert({   title: "찜목록에 추가되었습니다!",   text: "마이페이지에서 확인하세요.",   imageUrl: "/assets/zzim_ok.gif", timer: 2000,   showConfirmButton: false, customClass: 'sweet' });
		 });
		 
		 $(".zzimok").click(function() {
		 	sweetAlert({   title: "찜목록에서 삭제되었습니다!", imageUrl: "/assets/zzim_not.gif", timer: 2000,   showConfirmButton: false, customClass: 'sweet' });
		 });
</script>
